pipeline/CopyAllPipeline.json
{
	"name": "CopyAllPipeline",
	"properties": {
		"activities": [
			{
				"name": "LookupAllTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA AS SchemaName,\n       TABLE_NAME AS TableName\nFROM information_schema.tables\nWHERE TABLE_SCHEMA = 'techsub'\nAND TABLE_NAME IN ('appariel', 'arret', 'categoriearret', 'categorieprestation',\n                   'chantier', 'client', 'collaborateur', 'compteanalytique',\n                   'detailbudget', 'diametre', 'fonction', 'pays', 'horaireposte',\n                   'prestation', 'site', 'sondage', 'soustraitant', 'typearret',\n                   'typeprestation', 'zoneaffectaion', 'rapportbudgetmachine', 'rapportjournalier');\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSchemaTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupAllTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupAllTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Each Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTableC",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetTables",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}